# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
dist/
*.egg-info/
.eggs/
.env
.env.*
build/
.python-version

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
.terraform.lock.hcl
terraform.tfvars
*.tfplan
